<div id="wrapper" class="stories list">
  <div id="inside">
    <div class="clear"></div>
    <div class="clear"></div>
      <h1>What good is happening in the world today?</h1>
      <h2><a href="/">impct</a> is a home for sharing <a href="/t/news">news</a>, <a href="/t/tools">tools</a>, <a href="/t/resources">resources</a>, <a href="/t/events">events</a> and <a href="/t/jobs">jobs</a> to create <a href="/about">positive social impact</a>.</h2>
      <h3><a href="/stories/new">Add your own story</a> or <a href="/tags">explore our site</a>.</h3>
    <div class="clear"></div>
  </div>
</div>


<ol class="stories list <%= @cur_url == "/hidden" ? "show_hidden" : "" %>">
  <%= render :partial => "stories/listdetail", :collection => @stories,
    :as => :story %>
</ol>

<div class="morelink">
  <% if @page && @page > 1 %>
    <a href="<%= @cur_url %><%= @cur_url == "/" ? "" : "/" %><%=
      @page == 2 ? "" : "page/#{@page - 1}" %>">&lt;&lt; Page
      <%= @page - 1 %></a>
  <% end %>

  <% if @show_more %>
    <% if @page && @page > 1 %>
      |
    <% end %>
    <a href="<%= @cur_url %><%= @cur_url == "/" ? "" : "/" %>page/<%=
      @page + 1 %>">Page <%= @page + 1 %> &gt;&gt;</a>
  <% end %>
</div>